<%= form_with(model: user, url: '/users/sessions', method: :post) do |form| %>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>