<%= form_with(model: user, url: "/users/#{user.id}/phone_confirmations", method: :post) do |form| %>

  <div class="field">
    <%= form.label :confirmation_code %>
    <%= form.text_field :confirmation_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>